[submodule "frontend"]
    path = frontend
    url = https://github.com/lahirugmg/business-cost-tracker-frontend.git
[submodule "backend"]
    path = backend
    url = https://github.com/lahirugmg/business-cost-tracker-backend.git 